<mat-sidenav-container class="jw-container">
  <mat-sidenav #sidenav class="jw-sidenav mat-elevation-z10" 
          [opened]="!isScreenSmall()" 
          [mode]="isScreenSmall() ? 'over' : 'side'">
      <mat-toolbar color="primary">
        Contacts
      </mat-toolbar>
      <mat-list role="list">
          <mat-list-item role="listitem">Item 1</mat-list-item>
          <mat-list-item role="listitem">Item 2</mat-list-item>
          <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="jw-sidenav-content">        
    <app-toolbar></app-toolbar>
    <router-outlet></router-outlet>
    <button type="button" mat-button (click)="sidenav.toggle()">
        Toggle sidenav
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
  



